@{
    ViewData["Title"] = "Index";
}





@*<div class="d-flex justify-content-center>
    <label for="week">Select a week:</label>
    <input type="week" id="week" name="week">
</div>
<div class ="d-flex justify-content-center">
    <button>Create New</button>
</div>*@

<div class="d-flex justify-content-around">
    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">13</button>
        <a>MA</a>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">14</button>
        <a>DI</a>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">15</button>
        <a>WO</a>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">16</button>
        <a>DO</a>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">17</button>
        <a>VR</a>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">18</button>
        <a>ZA</a>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <button type="button" class=" btn btn-secondary btn-circle btn-sm">19</button>
        <a>ZO</a>
    </div>




    </div>



