@*@model BumboPOC.Models.*@

@{
    ViewData["Title"] = "Index";
}

<div class="p-3 mb-2 bg-secondary text-white">
    <p>Year | Month </p>
    @*    <img src="img/arrow.png">
    <div class="rotate_img">
    <img src="img/arrow.png">
    </div>*@
</div>

<div>


    <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-column row">
            <h3>20</h3>
            <p>sep</p>
        </div>


        <div class="d-flex row justify-content-around border-bottom border-dark ">
            <div class="d-flex flow-row justify-content-between">
                <h5>8:00 - 16:00 </h5>
                <p>Bospad 12</p>
            </div>


            <div class="d-flex flow-row justify-content-between">
                <p>Brood</p>
                <p>Den bosch</p>
            </div>
        </div>
    </div>


</div>





