
@{
    ViewData["Title"] = "Index";
}

@*<h1>EmployeeIndex</h1>
<p class="test">Alles moet rood</p>*@
<div class="d-flex justify-content-center>
    <label for="week">Select a week:</label>
    <input type="week" id="week" name="week">
</div>
<div class ="d-flex justify-content-center">
    <button>Create New</button>
</div>



