html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: ghostwhite;
}

.rotate_img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180dg);
    -ms-transform: rotate(180);
    -o-transform: rotate(180deg);
    transform: rotate(180dg);
}
