@model IEnumerable<BumboPOC.Models.DomainModels.PrognosisDay>

@{
    ViewData["Title"] = "Index";
}

<h1>Prognosis input</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Aantal verwachte collies
            </th>
            <th>
                Aantal verwachte klanten
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
                   
            <td>
                    @item.Date.ToShortDateString()
                   
            </td>
            <td>
                    @item.AmountOfCollies
                   
            </td>
            <td>
                    @item.AmountOfCustomers
            </td>
            <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Prognosis" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
            </td>
                   
        </tr>
}


    </tbody>
</table>
</form>